<html>
<head>
	<title>WaterOneFlow in Python</title>
</head>
<body>
	<p>Visit one of these pages to obtain {{p}} observations data and metadata from the REST API for WOF written in Python:</p>
	
	<ul>
		<li>
                    <a href="{{request.script_root|safe}}/GetSites">
                        GetSites
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/GetSites?site={{p}}:{{s}}">
                        GetSites?site={{p}}:{{s}}
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/GetSiteInfo?site={{p}}:{{s}}">
                        GetSiteInfo?site={{p}}:{{s}}
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/GetVariableInfo">
                        GetVariableInfo
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/GetVariableInfo?variable={{p}}:{{v}}">
                        GetVariableInfo?variable={{p}}:{{v}}
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/GetValues?location={{p}}:{{s}}&variable={{p}}:{{v}}">
                        GetValues?location={{p}}:{{s}}&variable={{p}}:{{v}}
                    </a> Note: May crash browser for large values sets.
                </li>
		<li>
			<a href="{{request.script_root|safe}}/GetValues?location={{p}}:{{s}}&variable={{p}}:{{v}}&startDate={{sd}}&endDate={{ed}}">
				GetValues?location={{p}}:{{s}}&variable={{p}}:{{v}}&startDate={{sd}}&endDate={{ed}}
			</a>
		</li>
                
                <li>
			WaterML2 Example: <a href="{{request.script_root|safe}}/GetValues?format=wml2&location={{p}}:{{s}}&variable={{p}}:{{v}}&startDate={{sd}}&endDate={{ed}}">
				GetValues?format=wml2&location={{p}}:{{s}}&variable={{p}}:{{v}}&startDate={{sd}}&endDate={{ed}}
			</a>
		</li>
	</ul>

</body>

</html>