<html>
<head>
	<title>WaterOneFlow for TWDB Sondes in Python</title>
</head>
<body>
	<p>Visit one of these pages to obtain TWDB Sondes observations data and metadata from the REST API for WOF written in Python:</p>
	
	<ul>
		<li><a href="{{request.script_root|safe}}/GetSites">GetSites</a></li>
		<li><a href="{{request.script_root|safe}}/GetSites?site=TWDB_Sondes:CopanoAransas88_D3">GetSites?site=TWDB_Sondes:CopanoAransas88_D3</a></li>
		<li><a href="{{request.script_root|safe}}/GetSiteInfo?site=TWDB_Sondes:CopanoAransas88_D3">GetSiteInfo?site=TWDB_Sondes:CopanoAransas88_D3</a></li>
		<li><a href="{{request.script_root|safe}}/GetVariableInfo">GetVariableInfo</a></li>
		<li><a href="{{request.script_root|safe}}/GetVariableInfo?variable=TWDB_Sondes:SAL001">GetVariableInfo?variable=TWDB_Sondes:SAL001</a></li>
		<li><a href="{{request.script_root|safe}}/GetValues?location=TWDB_Sondes:CopanoAransas88_D3&variable=TWDB_Sondes:SAL001">GetValues?location=TWDB_Sondes:CopanoAransas88_D3&variable=TWDB_Sondes:SAL001</a></li>
		<li>
			<a href="{{request.script_root|safe}}/GetValues?location=TWDB_Sondes:CopanoAransas88_D3&variable=TWDB_Sondes:SAL001&startDate=1988-08-08T12:00:00&endDate=1988-08-09T12:00:00">
				GetValues?location=TWDB_Sondes:CopanoAransas88_D3&variable=TWDB_Sondes:SAL001&startDate=1988-08-08T12:00:00&endDate=1988-08-09T12:00:00
			</a>
		</li>
	</ul>

</body>

</html>